@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --color-bg-from: #5cdcff;
  --color-bg-to: #0247be;
  --transparent-bg: #ffffff0a;
  --transparent-bg-hover: #ffffff1c;
}

